* {
  padding: 0;
  font-family: "AnonymicePro Nerd Font Mono"; 
}

window#waybar {
  background: #EFF1F5;
}

#workspaces, #clock, #cpu, #language, #memory, #hardware {
  border-radius: 1rem;
  padding: 0 .8rem;
  margin: 0 0rem;
}

#cpu, #memory {
  background: rgba(255, 255, 255, 0);
}

#workspaces, #language {
  background: #CCD0DA;
}

#workspaces button.focused {
  background: #FE640B;
  border-radius: 1rem;
  padding: 0rem .2rem;
  margin: 0 10px;
  color: #EFF1F5; 
  font-weight: bold;
}

#clock, #hardware {
  background: #1E66F5;
  color: #EFF1F5;
  font-weight: bold;
}

#clock {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 80px;
    min-width: 10px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: green;
}
