* {
  padding: 0;
  font-family: "AnonymicePro Nerd Font Mono"; 
}

window#waybar {
  background: #EFF1F5;
}

#workspaces, #clock, #cpu, #language {
  border-radius: 1rem;
  padding: 0 .8rem;
  margin: 0 0rem;
}

#workspaces, #cpu, #language {
  background: #CCD0DA;
}

#workspaces button.focused {
  background: #FE640B;
  border-radius: 1rem;
  padding: 0rem .2rem;
  margin: 0 10px;
  color: #EFF1F5; 
  font-weight: bold;
}

#clock {
  background: #1E66F5;
  color: #EFF1F5;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: bold;
}
